.gt-selector-c {
    display: flex;
    flex-flow: row;
    justify-content: flex-end; }

.gt-selector {
    width: 70px;
    height: 30px;
    margin-left: 5px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center; }
