@mixin width-calc($w) {
    width: calc($w);
    width: -moz-calc($w);
    width: -webkit-calc($w);
    width: -o-calc($w); }

@mixin height-calc($w) {
    height: calc($w);
    height: -moz-calc($w);
    height: -webkit-calc($w);
    height: -o-calc($w); }

.svg-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column; }

.svg-container-row {
    width: 100%;
    height: 100%; 
    display: flex;
    flex-flow: row;
    align-items: center; }

.svg-plot {
    width: 100%; 
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center; }

