.slide-view {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row;
}

#text-summary {
    width: 300px;
    height: 100%; }

#visual {
    width: 100%;
    height: 100%; }

.v-sep {
    width: 1px;
    height: 100%;
    margin-left: 10px;
    margin-right: 10px;
    border-right: 1px solid #999999; }

#textsummarymain {
    height: 100%; }

#slide-control {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;

    div {
        margin-left: 10px;
        margin-right: 10px; }

    div:hover {
        cursor: pointer;
        color: #cccccc; }
}
